<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Dashboard - Fire Detection Bot System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }
        .card {
            margin-bottom: 20px;
        }
        .camera-feed {
            width: auto;
            height: 300px;
        }
        .image-container {
            height: 300px;
            background-image: url('fallback-image.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
        .fire-probability {
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        .control-panel {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Fire Detection Bot</a>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h3 class="mb-3">Live Camera Feeds</h3>
        <div class="row" id="camera-feeds">
            <div id="active-alerts" class="col-md-4 mb-4" style="max-height: 400px; overflow-y: scroll;"></div>
            {% for camera in cameras %}
            <div class="col-md-4 mb-4" id="camera-{{ camera['camera_id'] }}">
                <div class="card">
                    <img id="camera-feed-{{ camera['camera_id'] }}" src="/camera/getview/{{ camera['camera_id'] }}" class="card-img-top" alt="Live Feed">
                    <div class="card-body">
                        <h5 class="card-title">Camera {{ camera['camera_id'] }}</h5>
                        <button class="btn btn-danger" onclick="deleteCamera({{ camera['camera_id'] }})">Delete Camera</button>
                        <a class="btn btn-secondary" href="/camera/view/{{ camera['camera_id'] }}">View Camera Plain</a>
                    </div>
                    <!-- Prediction display area -->
                    <div class="fire-probability"><p id="prediction-{{ camera['camera_id'] }}" class="mx-auto p-2 border rounded bg-secondary">Loading...</p></div>
                    <div id="map-container">
                        <div style="width: 100%;">
                            <iframe id="google-maps-{{ camera['camera_id'] }}" width="100%" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=England&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="control-panel">
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" onclick="refreshAll()">Refresh</button>
                <button class="btn btn-danger" onclick="location.reload();">Reload All Cameras</button>
                <div>
                    <input type="text" id="camera-name" placeholder="Enter Camera Name" class="form-control d-inline-block" style="width: auto;">
                    <button class="btn btn-success" onclick="openCamera()">Open Camera</button>
                </div>
            </div>
        </div>

    </div>

    <footer class="text-center mt-5 bg-dark text-white py-4">
        <p>&copy; 2024 Fire Detection Bot System. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Function to refresh the feed for a specific camera
        function refreshFeed(cameraId) {
            let imgElement = document.getElementById(`camera-feed-${cameraId}`);
            if (!imgElement) {
                imgElement = document.createElement('img');
                imgElement.src = `/camera/getview/${cameraId}`;
                imgElement.alt = 'Live Feed';
                imgElement.className = 'img-fluid';
                imgElement.id = `camera-feed-${cameraId}`;
                document.getElementById(`camera-feeds`).appendChild(imgElement);
            }
            if (imgElement) {
                const oldSrc = imgElement.src;
                imgElement.src = `/camera/getview/${cameraId}?t=${new Date().getTime()}`;
                if (oldSrc !== imgElement.src) {
                    fetchPrediction(cameraId);
                }
            }
        }

        let location_updated = [];
        // Fetch fire prediction and update the UI
        function fetchPrediction(cameraId) {
            fetch(`/predict/${cameraId}`, {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                const predictionElement = document.getElementById(`prediction-${cameraId}`);
                const googleMapsElement = document.getElementById(`google-maps-${cameraId}`);

                if (data.fire_prob !== undefined) {
                    predictionElement.innerHTML = `Fire Probability: ${data.fire_prob.toFixed(2)}`;
                } else {
                    predictionElement.innerHTML = "Prediction failed. Image not found.";
                }

                if (!location_updated.includes(cameraId) && data.google_maps_url !== undefined) {
                    googleMapsElement.src = data.google_maps_url;
                    location_updated.push(cameraId);
                }
                else {
                    googleMapsElement.innerHTML = "Location not found.";
                }
            })
            .catch(error => {
                console.error("Error fetching prediction:", error);
            });
        }

        // Auto-refresh camera feeds every 5 seconds
        function refreshAll() {
            {% for camera in cameras %}
                refreshFeed({{ camera["camera_id"] }});
            {% endfor %}
        }
        
        setInterval(() => {
            refreshAll();
            getAllALerts();
        }, 1000); // Refresh every 5 seconds

        // Function to get all active alerts
        function getAllALerts() {
            fetch('/alerts')
            .then(response => response.json())
            .then(data => {
                const alertsElement = document.getElementById('active-alerts');
                alertsElement.innerHTML = ''; // Clear previous alerts
                if (data.length === 0) {
                    alertsElement.innerHTML = '<div class="alert alert-info">No active alerts.</div>';
                } else {
                    data.forEach(alert => {
                        const alertDiv = document.createElement('div');
                        alertDiv.className = 'alert alert-danger';
                        alertDiv.innerHTML = `Camera ID: ${alert.camera_id} - Fire Probability: ${alert.fire_prob.toFixed(2)}`;
                        alertsElement.appendChild(alertDiv);
                    });
                }
            })
            .catch(error => {
                console.error("Error fetching alerts:", error);
            });
        }

        // Function to delete a camera view
        function deleteCamera(cameraId) {
            if (confirm("Are you sure you want to delete this camera?")) {
                fetch(`/camera/delete/${cameraId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById(`camera-${cameraId}`).remove();
                        alert("Camera deleted successfully.");
                        location.reload();
                    } else {
                        alert("Failed to delete camera.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while deleting the camera.");
                });
            }
        }

        // Function to open a camera by name
        function openCamera() {
            const cameraName = document.getElementById('camera-name').value;
            if (cameraName) {
                window.location.href = `/camera/live/${cameraName}`;
            } else {
                alert("Please enter a camera name.");
            }
        }
    </script>
</body>
</html>
